<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celery & Wings - Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" href="css/dash.css">
</head>

<body>

    <div class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="/">C&W</a><button class="navbar-toggler"
                    data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
                        navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#cont">Browse</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#footer">Contact
                                US</a></li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input
                                class="form-control search-field" type="search" name="search" id="search-field">
                        </div>
                    </form>
                    <span class="navbar-text"> <a href="/profile" class="login">My Profile</a></span>
                    <a class="btn btn-light action-button" role="button" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1>Welcome to Celery & Wings...
                        <%= users.fname%>!
                    </h1>
                    <button class="btn btn-light btn-lg action-button" type="button"><a href="#cont"
                            style="color: aliceblue;">Browse Menu</a></button>
                </div>
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                    <div class="iphone-mockup"><img src="img/undraw_eating_together_re_ux62.svg" class="device">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Browse Collection -->
    <div class="container-fluid" id="cont">
        <div class="px-lg-5">
            <div class="row py-5">
                <div class="col-lg-12 mx-auto">
                    <div class="text-white p-5 shadow-sm rounded banner">
                        <h1 class="display-4">Our Recipies</h1>
                        <p class="lead"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Gallery item -->
                <%for(var i=0; i<8; i++){%>
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                        <div class="bg-white rounded shadow-sm"><img src="<%=food[i].itemurl%>"
                                alt="image-<%=food[i].itemName%>" class="img-fluid card-img-top">
                            <div class="p-4">
                                <h5> <a href="/browse" class="text-dark">
                                        <%=food[i].itemName%>
                                    </a></h5>
                            </div>
                        </div>
                    </div>
                    <%}%>

            </div>
            <div class="py-5 text-right"><a href="/browse" class="btn btn-primary px-5 py-3 text-uppercase">Show me
                    more</a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <section class="deneb_cta">
        <div class="container">
            <div class="cta_wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="cta_content">
                            <h3>Have anything in mind ?</h3>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="button_box">
                            <a href="#" class="btn btn-primary">Give Feedback</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="deneb_footer">
        <div class="widget_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="widget widegt_social">
                            <div class="widget_title">
                                <h4 style="color: #ffff;">Socilas</h4>
                            </div>
                            <ul class="social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="widget widget_link">
                            <div class="widget_title">
                                <h4 style="color: #ffff;">Links</h4>
                            </div>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="widget widget_contact">
                            <div class="widget_title">
                                <h4 style="color: #ffff;">Contact Us</h4>
                            </div>
                            <!-- <div class="contact_info">
                                <div class="single_info">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt" style="color: rgb(38, 101, 238);"></i>
                                    </div>
                                    <div class="info">
                                        <p><a href="tel:+919246147999">1800-121-3637</a></p>
                                        <p><a href="tel:+919246147999">+91 924-614-7999</a></p>
                                    </div>
                                </div>
                                <div class="single_info">
                                    <div class="icon">
                                        <i class="fas fa-envelope" style="color: rgb(38, 101, 238);"></i>
                                    </div>
                                    <div class="info">
                                        <p><a href="mailto:info@deneb.com">info@deneb.com</a></p>
                                        <p><a href="mailto:services@deneb.com">services@deneb.com</a></p>
                                    </div>
                                </div>
                                <div class="single_info">
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt" style="color: rgb(38, 101, 238);"></i>
                                    </div>
                                    <div class="info">
                                        <p style="color: #ffff;">125, Park street aven, Brocklyn,<span>Newyork.</span>
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_area" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright_text">
                            <p>Copyright &copy; 2022 All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="js/dash.js"></script>
</body>

</html>