<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href=" https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="css/ord.css">
    <title>Celery & Wings - Order Details</title>
    <link rel="icon" type="image/x-icon" href="/img/pizza.png">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-collapse">
                        <thead>
                            <tr>
                                <th>Fund name</th>
                                <th>Code</th>
                                <th>Series</th>
                                <th>Asset class</th>
                                <th>Risk</th>
                                <th>MER</th>
                            </tr>
                        </thead>
                        <tbody id="handlebarsFundTable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <script id="fundTableTemplate" type="text/x-handlebars-template">
        {{#each funds}}
            <tr class="collapse-control collapsed" data-toggle="collapse" data-target="#collaspe{{code}}" aria-expanded="false">
                <td><a href="#">{{name}}</a></td>
                <td>{{code}}</td>
                <td>{{series}}</td>
                <td>{{assetClass}}</td>
                <td>{{risk}}</td>
                <td>{{mer}}</td>
            </tr>
            <tr>
                <td colspan="6" class="collapse-td">
                    <div class="collapse-content collapse" id="collaspe{{code}}">
                        <span class="header-6">Investment objective</span>
                        <p>{{objective}}</p>
                    </div>
                </td>
            </tr>
        {{/each}}
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <script src="/js/ord.js"></script>
</body>
</html>