<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Access</title>
</head>
<body>
    <form action="restaurant"  method="post">
        itemname: <input type="text" name="itemname">
        Food item: <select name="item">
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
            <option value="d">d</option>
        </select>
        Food type: <select name="type">
            <option value="veg">vg</option>
            <option value="nonveg">nvg</option>
        </select>
        Food price: <input type="text" name="price">
        <button type="submit">Submit</button>
    </form>
</body>
</html>