html {
  scroll-behavior: smooth;
}

.header-blue {
  background: linear-gradient(135deg, #172a74, #21a9af);
  background-color: #184e8e;
  padding-bottom: 80px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width:768px) {
  .header-blue {
    padding-bottom: 120px;
  }
}

.header-blue .navbar {
  background: transparent;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

@media (min-width:768px) {
  .header-blue .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.header-blue .navbar .navbar-brand {
  font-weight: bold;
  font-size: 30px;
  color: inherit;
}

.header-blue .navbar .navbar-brand:hover {
  color: #f0f0f0;
}

.header-blue .navbar .navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: .5rem;
}

@media (min-width:768px) {
  .header-blue .navbar .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }
}

.header-blue .navbar .navbar-collapse span .login {
  color: #d9d9d9;
  margin-right: .5rem;
  text-decoration: none;
}

.header-blue .navbar .navbar-collapse span .login:hover {
  color: #fff;
}

.header-blue .navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

.header-blue .navbar .navbar-toggler:hover,
.header-blue .navbar-toggler:focus {
  background: none;
}

.header-blue .navbar .navbar-nav a.active,
.header-blue .navbar .navbar-nav>.show .dropdown-item {
  background: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .header-blue .navbar-nav .nav-link {
    padding-left: .7rem;
    padding-right: .7rem;
  }
}

@media (min-width: 992px) {
  .header-blue .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.header-blue .navbar .navbar-nav>li>.dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  background-color: #fff;
  border-radius: 2px;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item:hover {
  background: #ebeff1;
}

.header-blue .action-button,
.header-blue .action-button:not(.disabled):active {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: .3rem .8rem;
  background: transparent;
  transition: background-color 0.25s;
  outline: none;
}

.header-blue .action-button:hover {
  color: #fff;
}

.header-blue .navbar .form-inline label {
  color: #d9d9d9;
}

.header-blue .navbar .form-inline .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.header-blue .navbar .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

.header-blue .hero {
  margin-top: 20px;
  text-align: center;
}

@media (min-width:768px) {
  .header-blue .hero {
    margin-top: 60px;
    text-align: left;
  }
}

.header-blue .hero h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width:992px) {
  .header-blue .hero h1 {
    margin-top: 190px;
    margin-bottom: 24px;
    line-height: 1.2;
  }
}

.header-blue .hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}

.header-blue .phone-holder {
  text-align: right;
}

.header-blue div.iphone-mockup {
  position: relative;
  max-width: 300px;
  margin: 20px;
  display: inline-block;
}

.header-blue .iphone-mockup img.device {
  width: 167%;
  height: auto;
}

.header-blue .iphone-mockup .screen {
  position: absolute;
  width: 88%;
  height: 77%;
  top: 12%;
  border-radius: 2px;
  left: 6%;
  border: 1px solid #444;
  background-color: #aaa;
  overflow: hidden;
  /* background: url(../../assets/img/screen-content-iphone-6.jpg); */
  background-size: cover;
  background-position: center;
}

.header-blue .iphone-mockup .screen:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -12%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}

/*Second Div*/
.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(135deg, #172a74, #21a9af);
  ;
  background: linear-gradient(135deg, #172a74, #21a9af);
}

/*Footer*/


.deneb_footer .widget_wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 70px;
}

@media (max-width: 767px) {
  .deneb_footer .widget_wrapper .widget {
    margin-bottom: 40px;
  }
}

.deneb_footer .widget_wrapper .widget .widget_title {
  margin-bottom: 30px;
}

.deneb_footer .widget_wrapper .widget .widget_title h4 {
  font-weight: bold;
}

.deneb_footer .widget_wrapper .widget .widget_title h4:after {
  content: "";
  display: block;
  /* background: url(../images/shape/line.png) no-repeat; */
  max-width: 38px;
  height: 2px;
  margin-top: 5px;
}

.deneb_footer .widget_wrapper .widegt_about p {
  margin-bottom: 20px;
}

.deneb_footer .widget_wrapper .widegt_about .social li {
  display: inline-block;
  margin-right: 10px;
}

.deneb_footer .widget_wrapper .widegt_about .social li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
  color: linear-gradient(135deg, #172a74, #21a9af);
  ;
  font-size: 14px;
  -webkit-transition: all all 0.5s ease-out 0s;
  -moz-transition: all all 0.5s ease-out 0s;
  -ms-transition: all all 0.5s ease-out 0s;
  -o-transition: all all 0.5s ease-out 0s;
  transition: all all 0.5s ease-out 0s;
}

.deneb_footer .widget_wrapper .widegt_about .social li a:hover,
.deneb_footer .widget_wrapper .widegt_about .social li a:focus {
  background-image: -moz-linear-gradient(135deg, #172a74, #21a9af);
  ;
  background-image: -webkit-linear-gradient(135deg, #172a74, #21a9af);
  ;
  background-image: -ms-linear-gradient(135deg, #172a74, #21a9af);
  color: #fff;
  box-shadow: 2.5px 4.33px 15px 0px rgba(254, 176, 0, 0.4);
}

.deneb_footer .widget_wrapper .widget_link ul li {
  margin-bottom: 5px;
}

.deneb_footer .widget_wrapper .widget_link ul li a {
  text-transform: capitalize;
  color: white;
}

.deneb_footer .widget_wrapper .widget_link ul li a:hover,
.deneb_footer .widget_wrapper .widget_link ul li a:focus {
  color: #365ed7;
}

.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .icon {
  font-size: 12px;
  color: linear-gradient(135deg, #172a74, #21a9af);
  ;
  margin-right: 10px;
}

.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p a {
  color: #ffffff;
}

.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p span {
  display: block;
}

.deneb_footer .copyright_area {
  background: #edecf0;
  padding: 10px 0;
}

.deneb_footer .copyright_area .copyright_text {
  text-align: center;
}

.deneb_footer .copyright_area .copyright_text p {
  color: #011a3e;
}

.deneb_footer .copyright_area .copyright_text p span {
  color: linear-gradient(135deg, #172a74, #21a9af);
}

.deneb_cta .cta_wrapper {
  /*--------------------------------------------------------------------------------------------*/
  padding: 45px 50px 42px;
  max-width: 970px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: -135px;
  position: relative;
  background-image: -moz-linear-gradient(135deg, #172a74, #21a9af);
  background-image: -webkit-linear-gradient(135deg, #172a74, #21a9af);
  background-image: -ms-linear-gradient(135deg, #172a74, #21a9af);
  box-shadow: linear-gradient(135deg, #172a74, #21a9af);
  z-index: 1;
}

.deneb_cta .cta_wrapper:after {
  content: "";
  /* background: url(../images/shape/cta_shape.png) no-repeat;** */
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.deneb_cta .cta_wrapper .cta_content h3 {
  color: #fff;
  font-weight: bold;
}

@media (max-width: 767px) {
  .deneb_cta .cta_wrapper .cta_content h3 {
    font-size: 24px;
  }
}

.deneb_cta .cta_wrapper .cta_content h3:after {
  content: "";
  display: block;
  /* background: url(../images/shape/line_2.png) no-repeat;** */
  max-width: 110px;
  height: 2px;
  margin-top: 13px;
  margin-bottom: 24px;
}

.deneb_cta .cta_wrapper .cta_content p {
  color: #fff;
}

.deneb_cta .cta_wrapper .button_box {
  float: right;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .deneb_cta .cta_wrapper .button_box {
    float: none;
    text-align: left;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .deneb_cta .cta_wrapper .button_box {
    float: none;
    text-align: center;
    margin-top: 30px;
  }
}

.deneb_cta .cta_wrapper .button_box .deneb_btn {
  background: #fff;
  color: #011a3e;
}

.deneb_cta .cta_wrapper .button_box .deneb_btn:hover,
.deneb_cta .cta_wrapper .button_box .deneb_btn:focus {
  box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
}

footer {
  background-color: black;
}