body{
   background: linear-gradient(135deg, #172a74, #21a9af);
  background-color: #184e8e;
    margin-top:20px;
}
.card {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 50%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-top: 10%;
    margin-left: 13%;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}